@* This file is a simple HTML document. 
The contents of other views will be inserted by the @RenderBody expression. *@


@*<h1> this title is in Layout </h1>*@

<h1> Software Engineers Meeting 2024 </h1>

@RenderBody()