@model UserInfo

<main class="text-start">
    <h4> Participants Details: </h4>
    <p> <b>Name:</b> @Model.Name </p>
    <p> <b>Phone:</b> @Model.Phone </p>
    <p> <b>E-mail:</b> @Model.Email </p>
</main>