<p> Dünyada olduğu gibi ülkemizde de Bilgisayar Mühendisliği, Bilgisayar Bilimleri, Yazılım Mühendisliği ve buna yakın diğer bilim dalları hızla değişmekte ve gelişmektedir.​ Bu değişim ve dönüşümü yakalamak, ilgili bölümlerin, lisans ve lisansüstü programların yaşadığı sorunlara çözüm bulmak ve ülkemizin geleceğine katkı sağlamak amacıyla 28 yıldır Bilgisayar Mühendisliği Bölüm Başkanları (BMBB) toplantıları düzenlenmektedir. Bu yıl BMBB toplantılarının 38. si düzenlenecektir. Bu toplantılarda üretilen yararlı sonuçların yalnızca bölüm başkanları arasında değil tüm akademisyenlere de aktarılması için BMBB toplantıları ile birlikte Uluslararası Bilgisayar Bilimleri ve Mühendisliği (UBMK) konferanslarının düzenlenmesine karar verilmiştir. Bu yılki konferans 9. Uluslararası Bilgi​sayar Bilimleri ve Mühendisliği ​Konferansı (UBMK 2024) 26-28 Ekim 2024 tarihleri arasında Akdeniz Üniversitesi’nin ev sahipliğinde Antalya’da düzenlenecektir. </p>

@section header {
    <div id="header">
        ABOUT THE MEETING
    </div>
}