@model Product

<p> Do you want to delete the product with the ID 
    @Model.ProductID 
</p>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" asp-for="@Model.ProductID">
    <button type="submit" class="btn btn-outline-danger">Yes</button>
    <button type="submit" class="btn btn-outline-primary">No</button>
</form>
